/* font family */
@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&display=swap');
*{
    box-sizing: border-box;
}

body{
    background-color: #efedd6;
    font-family: 'Ruda', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
h1{
    margin: 10px;
}

.box {
    background-color: rgba(71, 71, 241, 0.823);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(200%);
    transition: transform 0.5s ease-in-out;
    overflow-x: hidden;
}

.box:nth-of-type(even) {
    transform: translateX(-200%)
}

.box.show{
    transform: translateX(0);
}

 h2 {
    font-size: 45px;
}

