@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&display=swap');
/* Social Media Icons CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ruda', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
a:focus, a:hover {
    outline: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: #ebebf6;
}

.social-container {
    display: flex;
    gap: 20px;
}
.social-container a {
    background-color: white;
    padding: 1em;
    border-radius: 50%;
    height: 64px;
    width: 64px;
    box-sizing: border-box;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.social-container a i {
    height: 32px;
    width: 32px;
    font-size: 32px;

}
.social-container a::before{
    content: attr(data-social);
    position: absolute;
    background-color: var(--accent-color);
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 100px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    transform: translateY(-30px) rotate(25deg);
    opacity: 0;
    transition: 200ms cubic-bezier(0.42,0,.44,1.68);
}

.social-container a:hover{
    background-color: var(--accent-color);
    fill: white;

}
.social-container a::after{
    content:'';
    position: absolute;
    width: 0px;
    height: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid var(--accent-color);
    transform: translateY(0px) rotate(25deg);
    opacity: 0;
    transition: 200ms cubic-bezier(0.42,0,.44,1.68);
    
}
.social-container a:hover::before{
    transform: translateY(-65px) rotate(0deg);
    opacity: 1;
}
.social-container a:hover::after{
    transform: translateY(-42px) rotate(0deg);
    opacity: 1;
}


